################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/School management system/.vs/School management system/v16/Browse.VC.opendb
